<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hogent.hogentprojecteniii_groep10" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:name=".main.VacationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_joetz_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.Login"
            android:label="@string/title_login"
            android:parentActivityName=".main.Main"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".authentication.Registreren"
            android:label="@string/title_registreren"
            android:parentActivityName=".main.Main"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".activities.VacationFilterActivity"
            android:label="@string/title_activity_vacation_filter"
            android:parentActivityName=".activities.VacationsListActivity" >
        </activity>
        <activity
            android:name=".activities.VacationsListActivity"
            android:label="@string/title_activity_vacation_overview"
            android:parentActivityName=".main.Main" >
        </activity>
        <activity
            android:name=".activities.VacationDetailActivity"
            android:label="@string/title_activity_specific_vacation_view"
            android:parentActivityName=".activities.VacationsListActivity" >
        </activity>
        <activity
            android:name=".activities.VacationSignupActivity"
            android:label="@string/title_activity_vacation_signup"
            android:parentActivityName=".activities.VacationsListActivity" >
        </activity>
        <activity
            android:name=".activities.VacationBillingActivity"
            android:label="@string/title_activity_vacation_billing" >
        </activity>
        <activity
            android:name=".activities.VacationSignupOverviewActivity"
            android:label="@string/title_activity_vacation_signup_overview" >
        </activity>
        <activity
            android:name=".activities.VacationPhotosActivity"
            android:label="@string/title_activity_vacation_photos" >
        </activity>
        <activity
            android:name=".activities.AddChildActivity"
            android:label="@string/title_activity_add_child"
            android:parentActivityName=".activities.VacationsListActivity" >
        </activity>
        <activity
            android:name=".activities.FindMonitorActivity"
            android:label="@string/title_activity_find_monitor"
            android:parentActivityName=".main.Main" >
        </activity>
        <activity
            android:name=".activities.MainSettingsActivity"
            android:label="@string/title_activity_main_settings"
            android:parentActivityName=".activities.VacationsListActivity" >
        </activity>
    </application>

</manifest>
